body {
	background-color: #e9e9e9;
	padding-top: 5.9rem;
}
.mape-hero {
	min-height: 100px;
	width: 100%;
	border-bottom: 4px solid #ffc107;
}
.home-main {
	position: relative;
	width: 100%;
	background: #e9e9e9;
	min-height: 150px;
	border-bottom: 4px solid #ffc107;
}
.home-services {
	position: relative;
	width: 100%;
	min-height: 200px;
}
.home-info {
	position: relative;
	width: 100%;
	min-height: 450px;
}
.mape-footer {
	background: #1c1d1d;
	min-height: 150px;
	width: 100%;
	border-top: 4px solid #ffc107;
}
.contact-col {
	padding-left: 4.3rem;
}
.bg-mape-blue {
	background-color: #0246f4 !important;
}