.mape-hero {
	position: relative;
	background-image: url('../../../../uploads/mape-hero-image.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 600px;
	width: 100%;
	border-bottom: 4px solid #203a47;
	&:before {
		content: '';
		//background: rgba(0, 0, 0, 0.55);
		width: 100%;
		min-height: 600px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
}
.home-main {
	position: relative;
	width: 100%;
	background: #e9e9e9;
	min-height: 350px;
}
.mape-footer {
	position: relative;
	background: #1c1d1d;
	min-height: 400px;
	width: 100%;
	border-top: 4px solid #203a47;
}